style.css
* {
    box-sizing: border-box;
}
.body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.container {
    width: 90%;
    max-width: 1110px;
    margin: auto;

}
/*header*/
a {
    color: inherit;
    text-decoration: none;
}
.header {
    padding: 30px 0;
    background-color: #2E4053;
}
.header {
    display: inline-flexbox;
    color: #fff;
}
.location {
    width: 1300px;
    margin: 200px;
    
}
.Card_header {
    width: 500px;
    margin: 500px;
}
.card_description {
    width: 50px;
    margin: 50px;
  
}
/*hero*/
.hero {
    width: 100%;
}
.hero_wrapper {
    width: 100%;
}
.hero_content {
    width: 100%;
}
.hero_image {
    position: absolute;
    top: 150px;
    right: 600px;
    width: 250px;
    height: 2000px;
    border:none;
    left: 800px;
}
.hero_image img {
    width: 100%;
}
h1 {
  position: static;
  bottom: 30;
  right: auto;
  width: 300px;
}
p {
  position: relative;
  top: 0;
  right: 0;
  width: 500px;
  height: 100px;
  border: none;
}
img {
    width: 2%;
    top: 50px;
    height: 50px;
    height: auto;
  }


